<div >
<h2>Hello</h2>
<div ng-show="error" class="alert alert-danger">{{error}}</div>
</div>
<div>
	<h3>Employees List</h3>
	 		<div class="row">             
                    <div class="custom-select">                   
                        <select name="sortOption" id="sortOption" ng-model="sortOption" ng-change="order()">
		                    <option value="name" selected>Name</option>
							<option value="email">Email</option>
							<option value="age">Age</option>
							<option value="gender">Gender</option>
                        </select>                   
                	</div>
              
            </div>
            <div class="row" align="right">             
                     <label> <a ng-href="#/home/addEmployee" > Add Employee </a></label>
              
            </div>
             <div class="row" align="right">             
                     <label> <a ng-click="clearLocalStorage()" >Logout </a></label>
              
            </div>
           
		<table class="table table-striped">
		    <thead>
			    <tr>
			        <th>Name</th>
					<th>Address</th>
					<th>Email</th>
					<th>Age</th>
					<th>Gender</th>
					<th>Education</th>
				 </tr>
			 </thead>
		    <tbody>
		      	<tr ng-repeat="employee in employees | orderBy:predicate:reverse" class="employee-list">
					<td><a ng-href="#/home/employeeEdit/{{employee.username}}" >{{employee.name}}</a></td>
					<td><a ng-href="#/home/employeeEdit/{{employee.username}}" >{{employee.address}}</a></td>
					<td><a ng-href="#/home/employeeEdit/{{employee.username}}" >{{employee.email}}</a></td>
					<td><a ng-href="#/home/employeeEdit/{{employee.username}}" >{{employee.age}}</a></td>
					<td><a ng-href="#/home/employeeEdit/{{employee.username}}" >{{employee.gender}}</a></td>
					<td><a ng-href="#/home/employeeEdit/{{employee.username}}" >{{employee.education}}</a></td>
					
					<td>
						<delete-employee username="{{employee.username}}"></delete-employee>
					</td>
					<!--<a ng-click="deleteEmployee(employee.username)" ng-if="employee.username">Delete </a></td>-->
				</tr>
				
			</tbody>
		</table>
</div>