<div ng-init-"employeeName()" >
<h2>Hello {{name}}</h2>
<div ng-show="error" class="alert alert-danger">{{error}}</div>
</div>
<div>
	<h3>Employees List</h3>
		<table class="table table-striped">
		    <thead>
			    <tr>
			        <th>Name</th>
					<th>Address</th>
					<th>Email</th>
					<th>Age</th>
					<th>Gender</th>
					<th>Education</th>
				 </tr>
			 </thead>
		    <tbody>
		      	<tr ng-repeat="employee in employees">
					<td><a ng-href="#/home/employeeEdit/{{employee.username}}" >{{employee.name}}</a></td>
					<td><a ng-href="#/home/employeeEdit/{{employee.username}}" >{{employee.address}}</a></td>
					<td><a ng-href="#/home/employeeEdit/{{employee.username}}" >{{employee.email}}</a></td>
					<td><a ng-href="#/home/employeeEdit/{{employee.username}}" >{{employee.age}}</a></td>
					<td><a ng-href="#/home/employeeEdit/{{employee.username}}" >{{employee.gender}}</a></td>
					<td><a ng-href="#/home/employeeEdit/{{employee.username}}" >{{employee.education}}</a></td>
					
					<td><a ng-click="deleteEmployee(employee.username)" >Delete</a></td>

				</tr>
				
			</tbody>
		</table>
</div>